<!DOCTYPE html>

<html>

<head>
    <title>
        <%-title%>
    </title>

    <link href="/css/bootstrap-5.3.3/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
    <script src="/js/moment-2.30.1.min.js"></script>

    <style>
        html {
            font-size: 12px;
            background-color: #212529;
        }

        @media (max-width: 1680px) {
            html {
                font-size: 12px;
            }
        }

        @media (max-width: 1440px) {
            html {
                font-size: 12px;
            }
        }
    </style>

</head>

<body>

    <!-- MAIN CONTENT -->
    <div class="row gx-1 bg-dark">
        <div class="col col-lg-3 col-md-6">
            <div class="p-1 border bg-danger">
                <font color="#FFFFFF"><b>Pikud HaOref Alerts</b>
                    <font style="display: none;" id="error_counter"> - Errors (<font color="#FFFFFF" id="pikudHaorefErrorCounter"></font>)</font>
                </font>
            </div>

            <div class="table-responsive" style="max-height: 2000px; overflow-y: auto;">
                <table class="table table-sm table-dark table-striped">
                    <tbody id="pikud_haoref_alerts"></tbody>
                </table>

            </div>
        </div>

        <div class="col col-lg-2 col-md-5">
            <div class="p-1 border bg-success">
                <font color="#FFFFFF"><b>Alerts Summary</b></font>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-dark">
                    <tbody id="alerts_summary">
                        <tr style="display:none;" id="earlyWarning">
                            <td>
                                <font class='text-danger'><b>Early Warning</b></font>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <font class='text-warning'><b>Total Locations Counter</b></font> : <font id="totalLocationsCounter">0</font>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <font class='text-warning'><b>Total Alerts Counter</b></font> : <font id="totalAlertsCounter">0</font>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <font class='text-warning'><b>Drone Alert Counter</b></font> : <font id="droneAlertCounter">0</font>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <font class='text-warning'><b>Missile Alert Counter</b></font> : <font id="missileAlertCounter">0</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="p-1 border bg-primary">
                <font color="#FFFFFF"><b>Alerted Locations Counter</b></font>
            </div>

            <div class="table-responsive" style="max-height: 2000px; overflow-y: auto;">
                <table class="table table-sm table-dark table-striped">
                    <tbody id="alerted_locations_counter">

                    </tbody>

                </table>

            </div>
        </div>

        <div class="col">
            <div class="p-1 border bg-secondary">
                <font color="#FFFFFF"><b>News Updates</b> - </font>
                <select id="rssFeedSelector">
                    <option value="RSSarutz7">Arutz 7 - Israel National News</option>
                    <option value="RSSjerusalemPost">Jerusalem Post</option>
                    <option value="RSSynet">Ynet News</option>
                </select>
            </div>

            <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                <table class="table table-sm table-dark table-striped">
                    <tbody id="rss_alerts"></tbody>
                </table>

            </div>

            <div class="p-1 border bg-danger">
                <font color="#FFFFFF"><b>Tzofar GPS Alerts</b></font>
            </div>

            <div class="">
                <iframe src="https://www.tzevaadom.co.il/en/" style="width:100%; height:1550px; border:none;"></iframe>
            </div>
        </div>
    </div>

    <!-- end content -->

    <script>

        let alertedLocations = [];
        let missileAlertCounter = 0;
        let droneAlertCounter = 0;
        let earlyWarningActive = false;

        const getSelectOptionValues = [];
        let selectOptionsValuesCount = 0;

        $("#rssFeedSelector option").each(function () {
            getSelectOptionValues.push($(this).val())
        });

        let rssFeedSelected;
        let rssFeedPollStarted = false;

        async function ajaxHandler(service) {
            let response = "";

            $.ajax({
                url: "/ajax",
                type: "POST",
                data: {
                    "service": service,
                    "rssfeed": rssFeedSelected
                },
                async: false,
                dataType: "json",
                success: function (result) {
                    response = result;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest, textStatus, errorThrown)
                }
            });

            return response;
        }

        setInterval(() => {
            $(".alertNewRow").removeClass("table-light");
            $(".alertNewRow").removeClass("alertNewRow");

            $(".rssNewRow").removeClass("table-light");
            $(".rssNewRow").removeClass("rssNewRow");
        }, 5000);

        //Pikud HaOref service
        fetch('/json/cities.json')
            .then((response) => response.json())
            .then((data) => {
                const locationsJSON = data;

                const pikudHaorefInterval = 1000;
                const recentlyAlertedLocations = {};

                let pikudHaorefErrorCounter = 0;
                let pikudHaorefError = false;

                function getAlertTypeByCategory(type) {
                    switch (type) {
                        case "newsFlash":
                            return "Early Warning";
                        case "missiles":
                            return "Rocket Alert";
                        case "hostileAircraftIntrusion":
                            return "Drone Alert";
                        case "general":
                            return "General Alert";
                        case "earthQuake":
                            return "Earthquake Alert";
                        case "radiologicalEvent":
                            return "Radiological Alert";
                        case "tsunami":
                            return "Tsunami Alert";
                        case "hazardousMaterials":
                            return "Hazardous Materials Alert";
                        case "terroristInfiltration":
                            return "Terrorist Infiltration Alert";
                        case "missilesDrill":
                            return "Drill - Rocket Alert";
                        case "generalDrill":
                            return "Drill  - General Alert";
                        case "earthQuakeDrill":
                            return "Drill - Earthquake Alert";
                        case "radiologicalEventDrill":
                            return "Drill - Radiological Alert";
                        case "tsunamiDrill":
                            return "Drill - Tsunami Alert";
                        case "hostileAircraftIntrusionDrill":
                            return "Drill - Hostile Aircraft Alert";
                        case "hazardousMaterialsDrill":
                            return "Drill - Hazardous Materials";
                        case "terroristInfiltrationDrill":
                            return "Drill - Terrorist Infiltration Alert";
                        default:
                            return "Unknown Alert";
                    }
                }

                function extractNewLocations(alertLocations) {
                    const newLocations = [];
                    const now = Math.floor(Date.now() / 1000);

                    for (let location of alertLocations) {
                        if (!recentlyAlertedLocations[location] || recentlyAlertedLocations[location] < now - 60) {
                            newLocations.push(location);
                            recentlyAlertedLocations[location] = now;
                        }
                    }

                    return newLocations;
                }

                setInterval(() => {
                    if (earlyWarningActive) {
                        $("#earlyWarning").hide();
                        earlyWarningActive = false;
                    }
                }, 300000);

                function updateAlertedLocation(location) {
                    const index = alertedLocations.findIndex(item => item.location === location);

                    if (index !== -1) {
                        alertedLocations[index].counter++;
                    } else {
                        alertedLocations.push({ location: location, counter: 1 });
                    }
                }

                const pikudHaorefPoll = async function () {
                    try {
                        setTimeout(pikudHaorefPoll, pikudHaorefInterval);

                        const alert = await ajaxHandler("pikud_haoref");
                        window.alertsJSON = alert;

                        if (alert.error) {
                            pikudHaorefErrorCounter++

                            if (!pikudHaorefError) {
                                pikudHaorefError = true;
                                $("#error_counter").show();
                            }

                            $("#pikudHaorefErrorCounter").text(pikudHaorefErrorCounter);

                            if (alert.error.indexOf("403 Forbidden") > -1) {
                                //$("#pikud_haoref_alerts").prepend("<tr><td><font class='text-danger'>ERROR:</font> 403 Forbidden - Requires Israeli IP</td></tr>");
                                console.log("Pikud HaOref Error: 403 Forbidden - Requires Israeli IP");
                            }
                            else {
                                //$("#pikud_haoref_alerts").prepend("<tr><td><font class='text-danger'>ERROR:</font> " + alert.error + "</td></tr>");
                                console.log("Pikud HaOref Error: " + alert.error);
                            }
                            return;
                        }

                        if (alert && alert.length) {
                            //console.log("Alert : ", alert[0]);
                            //console.log(JSON.stringify(alert));

                            const alertType = alert[0] && alert[0].type;

                            if (alertType === "newsFlash") {
                                earlyWarningActive = true;

                                if ($("#earlyWarning").is(":hidden")) {
                                    $("#earlyWarning").show();
                                }

                                const instructions = alert[0].instructions;

                                //console.log(instructions);

                                if (instructions === "האירוע הסתיים") {
                                    $("#earlyWarning").hide();
                                }

                            } else if (alertType != "newsFlash") {

                                const alertTypeText = getAlertTypeByCategory(alertType);
                                const timeStamp = moment().format("h:mm:ss a");

                                //console.log(alert.cities)

                                const locations = extractNewLocations(alert[0].cities);

                                for (let i = 0; i < locations.length; i++) {
                                    const locationOriginal = locations[i];
                                    let location = locations[i];

                                    for (let c = 0; c < locationsJSON.length; c++) {
                                        if (locationsJSON[c].value === location) {
                                            location = locationsJSON[c].name_en;
                                            break;
                                        }
                                    }

                                    if (location) {

                                        if (alertType === "missiles" || alertType === "hostileAircraftIntrusion") {

                                            if (alertType === "missiles") {
                                                missileAlertCounter++
                                                $("#missileAlertCounter").text(missileAlertCounter);
                                            }
                                            else if (alertType === "hostileAircraftIntrusion") {
                                                droneAlertCounter++
                                                $("#droneAlertCounter").text(droneAlertCounter);
                                            }

                                            $("#totalAlertsCounter").text(missileAlertCounter + droneAlertCounter);

                                            updateAlertedLocation(location);

                                        }

                                        $("#pikud_haoref_alerts").prepend("<tr class='alertNewRow table-light'><td><font class='text-info'>" + alertTypeText + "</font></td><td>" + location + " (" + locationOriginal + ")</td><td><font class='text-warning'>" + timeStamp + "</font></td></tr>");

                                    }
                                }

                                if (alertType === "missiles" || alertType === "hostileAircraftIntrusion") {
                                    $("#alerted_locations_counter").html("");

                                    const sortalertedLocations = alertedLocations.toSorted((a, b) => b.counter - a.counter);

                                    for (let i = 0; i < sortalertedLocations.length; i++) {
                                        const location = sortalertedLocations[i].location
                                        const counter = sortalertedLocations[i].counter;

                                        $("#alerted_locations_counter").append("<tr><td><font class='text-info'>" + location + "</font></td><td>" + counter + "</td></tr>");
                                    }

                                    $("#totalLocationsCounter").text(sortalertedLocations.length);
                                }

                            }
                        }
                    }
                    catch (error) {
                        console.error("Error in Pikud HaOref Polling:", error);
                    }
                };

                pikudHaorefPoll();
            })
            .catch((error) => {
                console.error('Error Fetching JSON File:', error);
            });



        //RSS service
        const newsArray = [];
        const rssInterval = 30000;

        const rssPoll = async function () {

            rssFeedSelected = getSelectOptionValues[selectOptionsValuesCount];
            $("#rssFeedSelector").val(rssFeedSelected);
            selectOptionsValuesCount++;

            if (selectOptionsValuesCount === getSelectOptionValues.length) {
                selectOptionsValuesCount = 0;
            }

            setTimeout(rssPoll, rssInterval);

            if (rssFeedSelected) {
                let reversedArray = [];

                const news = await ajaxHandler("rss", rssFeedSelected);

                if (news) {
                    if (news.error) {
                        console.log(news.error);
                        $("#rss_alerts").prepend("<tr><td>" + news.error + "</td></tr>");
                        return;
                    }

                    news.feed.items.forEach((item) => {
                        reversedArray.push({ pubDate: item.pubDate, title: item.title });
                    });

                    reversedArray = reversedArray.reverse();

                    reversedArray.forEach((item) => {
                        const publishDate = moment(item.pubDate).format("h:mm:ss a");
                        const publishDay = moment(item.pubDate).format("MMM Do YYYY");
                        const currentDay = moment().format("MMM Do YYYY");

                        const today = moment();
                        const yesterday = moment(today.startOf("day")).set(
                            "date",
                            today.get("date") - 1
                        );
                        const yesterDay = yesterday.format("MMM Do YYYY");

                        if (publishDay === currentDay) {
                            if (!newsArray.includes(publishDate + " : " + item.title)) {
                                newsArray.push(publishDate + " : " + item.title);

                                $("#rss_alerts").prepend("<tr class='rssNewRow table-light'><td width='40%'>" + item.title + "</td><td width='5%'><font class='text-warning'>" + publishDate + "</font></td><td ><font class='text-secondary'>" + rssFeedSelected.replace("RSS", "") + "</font></td></tr>");
                            }
                        }
                    });
                }
            }
        };

        rssPoll();

    </script>


</body>

</html>