<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%-title%>
    </title>

    <link href="/css/bootstrap-5.3.3/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/animate.min.css" />

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
    <script src="/js/moment-2.30.1.min.js"></script>

    <style>
        :root {
            --bs-body-bg: #212529;
        }

        html {
            font-size: 13px;
        }

        body {
            background-color: #212529;
            color: #e9ecef;
        }

        .section-header {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }
    </style>

</head>

<body>

    <!-- MAIN CONTENT -->
    <div class="container-fluid p-2">
        <div class="row g-2">

            <!-- Home Front Command Sirens -->
            <div class="col-lg-3 col-md-6">
                <div class="card bg-danger text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#pikudBody" style="cursor: pointer;">
                        Home Front Command Sirens

                        <span id="liveClock" class="bg-danger text-white fs-6 fw-normal">
                            00:00:00
                        </span>
                    </div>
                </div>
                <div id="pikudBody" class="collapse show">
                    <div class="card bg-dark border-0 mb-2">
                        <table class="table table-sm table-dark mb-0">
                            <thead>
                                <tr>
                                    <th width="10%">Time</th>
                                    <th width="5%">Type</th>
                                    <th>Location</th>
                                    <th>Zone</th>
                                </tr>
                            </thead>
                            <tbody id="pikud_haoref_alerts"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <!-- Alerted Locations -->
                <div class="card bg-danger text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#locationsBody" style="cursor: pointer;">
                        Alerts by Location
                        <img src="/icons/unfold.png" style="width:15px; height:15px;">
                    </div>
                </div>
                <div id="locationsBody" class="collapse show">
                    <div class="card bg-dark border-0 mb-2" style="max-height: 55vh; overflow-y: auto;">
                        <table class="table table-sm table-dark mb-0">
                            <tbody id="alerted_locations_counter"></tbody>
                        </table>
                    </div>
                </div>

                <!-- Alerted Zones -->
                <div class="card bg-danger text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#zonesBody" style="cursor: pointer;">
                        Alerts by Zone
                        <img src="/icons/unfold.png" style="width:15px; height:15px;">
                    </div>
                </div>
                <div id="zonesBody" class="collapse show">
                    <div class="card bg-dark border-0 mb-2">
                        <table class="table table-sm table-dark mb-0">
                            <tbody id="alerted_zones_counter"></tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-1">
                <!-- Alerts Summary -->
                <div class="card bg-primary text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#summaryBody" style="cursor: pointer;">
                        Alerts Summary
                        <img src="/icons/unfold.png" style="width:15px; height:15px;">
                    </div>
                </div>
                <div id="summaryBody" class="collapse show">
                    <div class="card bg-dark border-0 mb-2">
                        <table class="table table-sm table-dark mb-0">
                            <tbody id="alerts_summary">
                                <!-- Total alerts -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Alerts</span>
                                    </td>
                                    <td>
                                        <span id="totalAlertsCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total drone alerts -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Drone Alerts</span>
                                    </td>
                                    <td>
                                        <span id="droneAlertCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total rocket alerts -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Rocket Alerts</span>
                                    </td>
                                    <td>
                                        <span id="rocketAlertCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total locations -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Locations</span>
                                    </td>
                                    <td>
                                        <span id="totalLocationsCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total zones -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Zones</span>
                                    </td>
                                    <td>
                                        <span id="totalZonesCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total early warnings -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-warning">Total Early Warnings</span>
                                    </td>
                                    <td>
                                        <span id="totalEarlyWarningsCounter">0</span>
                                    </td>
                                </tr>
                                <!-- Total errors -->
                                <tr id="error_counter" style="display:none;">
                                    <td width="95%">
                                        <span class="text-danger">Total Errors</span>
                                    </td>
                                    <td>
                                        <span id="pikud_haoref_error_counter">0</span>
                                    </td>
                                </tr>
                                <!-- Last error message -->
                                <tr id="error_message" style="display:none;">
                                    <td width="95%">
                                        <span class="text-danger">Open Error Messages</span>
                                    </td>
                                    <td>
                                        <img src="/icons/open.png" id="show_error_messages" style="width:20px; height:20px;">
                                    </td>
                                </tr>
                                <!-- Test alerts -->
                                <tr id="test_alerts">
                                    <td width="95%">
                                        <span class="text-light">Test Alerts</span>
                                    </td>
                                    <td>
                                        <img src="/icons/off.png" style="width:30px; height:30px;" title="Turn on Test Mode" id="test_mode" />
                                    </td>
                                </tr>
                                <!-- App version -->
                                <tr>
                                    <td width="95%">
                                        <span class="text-light">App Version</span>
                                    </td>
                                    <td>
                                        <span id="appVersion"><%= appVersion %></span>
                                    </td>
                                </tr>
                                <!-- Update App version -->
                                <tr style="display:none;" id="update_app_version">
                                    <td width="95%">
                                        <span class="text-light">App Update Available</span>
                                    </td>
                                    <td>
                                        <img src="/icons/update.png" alt="Update" style="width:20px; height:20px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col">
                <!-- News Updates -->
                <div class="card bg-success text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#newsBody" style="cursor: pointer;">
                        News Updates
                        <img src="/icons/unfold.png" style="width:15px; height:15px;">
                        <select id="rssFeedSelector" class="form-select form-select-sm w-auto bg-dark text-white border-0" style="display: none;">
                        </select>
                    </div>

                </div>
                <div id="newsBody" class="collapse show">
                    <div class="card bg-dark border-0 mb-2 rss-feed scrollable" style="max-height: 30vh; overflow-y: auto;">
                        <table class="table table-sm table-dark mb-0">
                            <tbody id="rss_alerts"></tbody>
                        </table>
                    </div>
                </div>

                <!-- Tzofar Map Alerts -->
                <div class="card bg-danger text-white border-0 mb-2">
                    <div class="card-header section-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#tzofarBody" style="cursor: pointer;">
                        Tzofar Map Alerts
                        <img src="/icons/unfold.png" style="width:15px; height:15px;">
                    </div>
                </div>
                <div id="tzofarBody" class="collapse show">
                    <div class="">
                        <iframe src="https://www.tzevaadom.co.il/en/" style="width:100%; height:1400px; border:none; border-radius: 6px;" title="Tzofar GPS Alerts"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Early Warning Modal - Enter -->
    <div class="modal fade" id="earlyWarningModalEnter" tabindex="-1" aria-labelledby="earlyWarningModalEnterLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-danger text-white border-0">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="earlyWarningModalEnterLabel">Early Warning Alert</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    There is an active early warning due to a ballistic missile launch.
                    <br><br>
                    This message will disappear automatically when sirens sound or the threat is no longer active.
                    <br><br>
                    <b>The following locations are affected:</b>
                    <br>
                    <div id="earlyWarningLocations" style="width: 100%;"></div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Early Warning Modal - Exit -->
    <div class="modal fade" id="earlyWarningModalExit" tabindex="-1" aria-labelledby="earlyWarningModalExitLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-success text-white border-0">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="earlyWarningModalExitLabel">Early Warning Alert</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You can now exit the bomb shelter.
                    <br><br>
                    This message will disappear automatically after 30 seconds.
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Messages Modal -->
    <div class="modal fade" id="errorMessagesModal" tabindex="-1" aria-labelledby="errorMessagesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-white border-0">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="errorMessagesModalLabel">Error Messages</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    These are the error messages received from the Pikud HaOref service.
                    <br>Only unique error messages will be shown below.
                    <br>You can see all messages in the console log.
                    <br><br>
                    <div id="pikud_haoref_error_messages" style="width: 100%;"></div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->

    <script>

        function updateClock() {
            const now = new Date();
            const h = String(now.getHours()).padStart(2, '0');
            const m = String(now.getMinutes()).padStart(2, '0');
            const s = String(now.getSeconds()).padStart(2, '0');

            const timeString = `${h}:${m}:${s}`;

            // Update header clock
            const clockHeader = document.getElementById('liveClock');
            if (clockHeader) clockHeader.textContent = timeString;
        }

        updateClock();
        setInterval(updateClock, 1000);

        setInterval(() => {
            if (pikud_haoref_alerts.children.length > 500) {
                $('#pikud_haoref_alerts tr:last').remove();
            }
        }, 1000);

        setInterval(() => {
            $(".alertNewRow").removeClass("table-light");
            $(".alertNewRow").removeClass("alertNewRow");

            $(".rssNewRow").removeClass("table-light");
            $(".rssNewRow").removeClass("rssNewRow");
        }, 5000);

        async function ajaxHandler(service) {
            return new Promise((resolve) => {
                $.ajax({
                    url: "/ajax",
                    type: "POST",
                    data: {
                        "service": service,
                        "rssfeed": rssFeedSelected,
                        "testmode": testmode
                    },
                    async: true,
                    dataType: "json",
                    success: function (result) {
                        resolve(result);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest, textStatus, errorThrown)
                    }
                });
            });
        }

        const earlyWarningModalEnter = new bootstrap.Modal('#earlyWarningModalEnter');
        const earlyWarningModalExit = new bootstrap.Modal('#earlyWarningModalExit');
        const errorMessagesModal = new bootstrap.Modal('#errorMessagesModal');

        let alertedLocations = [];
        let alertedZones = [];
        let errorLogs = [];
        let rocketAlertCounter = 0;
        let droneAlertCounter = 0;
        let totalEarlyWarningsCounter = 0;
        let earlyWarningActive = false;
        let testmode = false;

        const pikudHaorefInterval = 1000;
        const recentlyAlertedLocations = {};

        $("#test_mode").on("click", function () {
            if (testmode) {
                testmode = false;

                $("#test_mode").attr("src", "/icons/off.png");
                $("#test_mode").attr("title", "Turn on Test Mode");
            } else {
                testmode = true;

                $("#test_mode").attr("src", "/icons/on.png");
                $("#test_mode").attr("title", "Turn off Test Mode");
            }
        });

        $("#show_error_messages").on("click", function () {
            errorMessagesModal.show();
        });

        const alertTypeMap = {
            newsFlash: {
                text: "Early Warning",
                icon: "/icons/warning.png"
            },
            missiles: {
                text: "Rocket Alert",
                icon: "/icons/rocket.png"
            },
            hostileAircraftIntrusion: {
                text: "Drone Alert",
                icon: "/icons/uav.png"
            },
            earthQuake: {
                text: "Earthquake Alert",
                icon: "/icons/earthquake.png"
            },
            radiologicalEvent: {
                text: "Radiological Alert",
                icon: "/icons/radiological.png"
            },
            tsunami: {
                text: "Tsunami Alert",
                icon: "/icons/tsunami.png"
            },
            hazardousMaterials: {
                text: "Hazardous Materials Alert",
                icon: "/icons/hazardous.png"
            }
        };

        function getAlertDetailsByCategory(type) {
            return alertTypeMap[type] || "Unknown Alert";
        }

        function extractNewLocations(alertLocations) {
            const newLocations = [];
            const now = Math.floor(Date.now() / 1000);

            for (let location of alertLocations) {
                if (!recentlyAlertedLocations[location] || recentlyAlertedLocations[location] < now - 60) {
                    newLocations.push(location);
                    recentlyAlertedLocations[location] = now;
                }
            }

            return newLocations;
        }

        function updateAlertedLocation(location) {
            const index = alertedLocations.findIndex(item => item.location === location);

            if (index !== -1) {
                alertedLocations[index].counter++;
            } else {
                alertedLocations.push({ location: location, counter: 1 });
            }
        }

        function updateAlertedZone(zone) {
            const index = alertedZones.findIndex(item => item.zone === zone);

            if (index !== -1) {
                alertedZones[index].counter++;
            } else {
                alertedZones.push({ zone: zone, counter: 1 });
            }
        }

        //Pikud HaOref service
        fetch('/json/cities.json')
            .then((response) => response.json())
            .then((data) => {
                const locationsJSON = data;

                const locationMap = Object.fromEntries(
                    locationsJSON.map(loc => [loc.value, {
                        name_en: loc.name_en,
                        zone: loc.zone,
                        zone_en: loc.zone_en,
                        lng: loc.lng,
                        lat: loc.lat,
                        countdown: loc.countdown
                    }])
                );

                let pikudHaorefErrorCounter = 0;
                let pikudHaorefError = false;

                const pikudHaorefPoll = async function () {
                    try {
                        setTimeout(pikudHaorefPoll, pikudHaorefInterval);

                        const alert = await ajaxHandler("pikud_haoref");

                        if (alert) {

                            window.alertsJSON = alert;

                            if (alert.error) {
                                pikudHaorefErrorCounter++

                                if (!pikudHaorefError) {
                                    pikudHaorefError = true;
                                    $("#error_counter, #error_message").show();
                                }

                                $("#pikud_haoref_error_counter").text(pikudHaorefErrorCounter);

                                if (!errorLogs.includes(alert.error)) {
                                    errorLogs.push(alert.error);

                                    if (alert.error.indexOf("Request failed with status code 403") > -1) {
                                        $("#pikud_haoref_error_messages").prepend("<b>403 Forbidden - Requires Israeli IP</b><br>");
                                    }
                                    else {
                                        $("#pikud_haoref_error_messages").prepend("<b>" + alert.error + "</b><br>");
                                    }
                                }

                                console.log("Pikud HaOref Error: " + alert.error);
                                return;
                            }

                            if (alert.length) {
                                //console.log(alert[0]);
                                //console.log("Alert : ", alert[0]);
                                //console.log(JSON.stringify(alert));

                                const alertType = alert[0] && alert[0].type;

                                if (alertType === "newsFlash") {
                                    const instructions = alert[0].instructions;

                                    if (instructions === "האירוע הסתיים") {
                                        if (earlyWarningActive) {
                                            if (!earlyWarningModalExit._isShown) {
                                                earlyWarningModalExit.show();
                                            }

                                            setTimeout(() => {
                                                if (earlyWarningModalExit._isShown) {
                                                    earlyWarningModalExit.hide();
                                                }
                                            }, 30000);
                                        }

                                        earlyWarningActive = false;

                                        if (earlyWarningModalEnter._isShown) {
                                            earlyWarningModalEnter.hide();
                                        }
                                    } else {
                                        if (!earlyWarningActive) {
                                            totalEarlyWarningsCounter++
                                            $("#totalEarlyWarningsCounter").text(totalEarlyWarningsCounter);
                                        }

                                        earlyWarningActive = true;

                                        if (earlyWarningModalExit._isShown) {
                                            earlyWarningModalExit.hide();
                                        }

                                        if (!earlyWarningModalEnter._isShown) {
                                            $("#earlyWarningLocations").text(alert[0].cities.map(city => locationMap[city]?.name_en || city).join(", "));
                                            earlyWarningModalEnter.show();
                                        }
                                    }

                                } else if (alertType != "newsFlash") {

                                    if (earlyWarningModalEnter._isShown) {
                                        earlyWarningModalEnter.hide();
                                    }

                                    if (earlyWarningModalExit._isShown) {
                                        earlyWarningModalExit.hide();
                                    }

                                    const alertTypeDetails = getAlertDetailsByCategory(alertType);
                                    const alertTypeText = alertTypeDetails.text;
                                    const alertTypeIcon = alertTypeDetails.icon;
                                    const timeStamp = moment().format("HH:mm:ss")

                                    const locations = extractNewLocations(alert[0].cities);

                                    for (let i = 0; i < locations.length; i++) {
                                        const locationOriginal = locations[i];
                                        const location = locationMap[locations[i]]?.name_en || locationOriginal;

                                        const zone = locationMap[locations[i]]?.zone || "Unknown";
                                        const zone_en = locationMap[locations[i]]?.zone_en || "Unknown";

                                        if (zone_en === "Unknown") {
                                            console.log("Unknown location", alert[0]);
                                        }

                                        if (location) {
                                            if (alertType === "missiles") {
                                                rocketAlertCounter++
                                                $("#rocketAlertCounter").text(rocketAlertCounter);
                                            }
                                            else if (alertType === "hostileAircraftIntrusion") {
                                                droneAlertCounter++
                                                $("#droneAlertCounter").text(droneAlertCounter);
                                            }

                                            $("#totalAlertsCounter").text(rocketAlertCounter + droneAlertCounter);

                                            updateAlertedLocation(location);
                                            updateAlertedZone(zone_en);

                                            $("#pikud_haoref_alerts").prepend(`
                                                <tr class="animate__animated animate__fadeInDown animate__faster alertNewRow table-light">
                                                    <td><font class='text-warning'>${timeStamp}</font></td>
                                                    <td><img src="${alertTypeIcon}" style="width:20px; height:20px;" title="${alertTypeText}"></td>
                                                    <td>${location}</td>
                                                    <td>${zone_en}</td>
                                                </tr>
                                            `);
                                        }
                                    }

                                    if (alertType === "missiles" || alertType === "hostileAircraftIntrusion") {
                                        //Update Alerted Locations Counter
                                        $("#alerted_locations_counter").html("");

                                        const sortalertedLocations = alertedLocations.toSorted((a, b) => {
                                            // First compare by counter (descending)
                                            if (b.counter !== a.counter) {
                                                return b.counter - a.counter;
                                            }

                                            // If counters are equal → compare locations alphabetically (ascending)
                                            return a.location.localeCompare(b.location);
                                        });

                                        for (let i = 0; i < sortalertedLocations.length; i++) {
                                            const location = sortalertedLocations[i].location
                                            const counter = sortalertedLocations[i].counter;

                                            $("#alerted_locations_counter").append(`
                                                <tr>
                                                    <td width="95%"><font class='text-info'>${location}</font></td>
                                                    <td>${counter}</td>
                                                </tr>
                                            `);
                                        }

                                        $("#totalLocationsCounter").text(sortalertedLocations.length);

                                        //Update Alerted Zones Counter
                                        $("#alerted_zones_counter").html("");

                                        const sortalertedZones = alertedZones.toSorted((a, b) => {
                                            // First compare by counter (descending)
                                            if (b.counter !== a.counter) {
                                                return b.counter - a.counter;
                                            }

                                            // If counters are equal → compare zones alphabetically (ascending)
                                            return a.zone.localeCompare(b.zone);
                                        });

                                        for (let i = 0; i < sortalertedZones.length; i++) {
                                            const zone = sortalertedZones[i].zone
                                            const counter = sortalertedZones[i].counter;

                                            $("#alerted_zones_counter").append(`
                                                <tr>
                                                    <td width="95%"><font class='text-info'>${zone}</font></td>
                                                    <td>${counter}</td>
                                                </tr>
                                            `);
                                        }

                                        $("#totalZonesCounter").text(sortalertedZones.length);
                                    }
                                }
                            }
                        }
                    }
                    catch (error) {
                        console.error("Error in Pikud HaOref Polling:", error);
                    }
                };

                pikudHaorefPoll();
            })
            .catch((error) => {
                console.error('Error Fetching JSON File:', error);
            });


        //RSS service
        const getSelectOptionValues = [];
        let selectOptionsValuesCount = 0;
        let rssFeedSelected;
        let rssFeedPollStarted = false;
        const newsArray = [];
        let rssInterval = 10000;

        const rssFeeds = [
            { codename: "RSSarutz7", realname: "Arutz 7" },
            { codename: "RSSbnn", realname: "BNN" },
            { codename: "RSSjerusalemPost", realname: "JPost" },
            { codename: "RSSynet", realname: "Ynet" }
        ];

        for (let i = 0; i < rssFeeds.length; i++) {
            const codename = rssFeeds[i].codename;
            const realname = rssFeeds[i].realname;

            $("#rssFeedSelector").append("<option value='" + codename + "'>" + realname + "</option>");
        };

        $("#rssFeedSelector option").each(function () {
            getSelectOptionValues.push($(this).val())
        });

        function getRealName(codename) {
            const feed = rssFeeds.find(feed => feed.codename === codename);
            return feed.realname;
        };

        const rssPoll = async function () {

            rssFeedSelected = getSelectOptionValues[selectOptionsValuesCount];
            $("#rssFeedSelector").val(rssFeedSelected);
            selectOptionsValuesCount++;

            if (selectOptionsValuesCount === getSelectOptionValues.length) {
                selectOptionsValuesCount = 0;
            }

            setTimeout(rssPoll, rssInterval);

            if (rssFeedSelected) {
                let reversedArray = [];

                const news = await ajaxHandler("rss", rssFeedSelected);

                if (news) {
                    if (news.error) {
                        console.log(news.error);
                        $("#rss_alerts").prepend("<tr><td>" + news.error + "</td></tr>");
                        return;
                    }

                    news.feed.items.forEach((item) => {
                        reversedArray.push({ pubDate: item.pubDate, title: item.title, guid: item.guid });
                    });

                    reversedArray = reversedArray.reverse();

                    reversedArray.forEach((item) => {
                        const publishDate = moment(item.pubDate).format("HH:mm");
                        const publishDay = moment(item.pubDate).format("MMM Do YYYY");
                        const currentDay = moment().format("MMM Do YYYY");

                        const today = moment();
                        const yesterday = moment(today.startOf("day")).set(
                            "date",
                            today.get("date") - 1
                        );
                        const yesterDay = yesterday.format("MMM Do YYYY");

                        const guid = item.guid;

                        if (publishDay === currentDay) {
                            if (!newsArray.includes(guid)) {
                                newsArray.push(guid);

                                $("#rss_alerts").prepend(`
                                    <tr class="animate__animated animate__fadeInDown animate__faster rssNewRow table-light">
                                        <td width="3%"><font class="text-warning">${publishDate}</font></td>
                                        <td width="4%"><font class="text-info">${getRealName(rssFeedSelected)}</font></td>
                                        <td>${item.title}</td>
                                    </tr>
                                `);
                            }
                        }
                    });
                }
            }
        };

        rssPoll();

        async function checkAppVersion() {
            try {
                const versionCheck = await ajaxHandler("version_check");

                if (versionCheck && versionCheck.updateAvailable) {
                    const latestVersion = versionCheck.latestVersion;

                    $("#update_app_version").show();
                }
            } catch (error) {
                console.error("Error checking app version:", error);
            }
        }

        checkAppVersion();

        setInterval(() => {
            checkAppVersion();
        }, 600000); // Check every 10 minutes
    </script>
</body>

</html>